p {
    color:orange;
    text-align: justify;
	width: 500px;
}
h1{
    color: green;
}
h2{
    color:aqua;
}
h3{
 color:red;   
} 
th{
    text-align: left;
    color :rgb(227,37 ,107 )
}
td { color: #ff102f;
    text-align: center;
	width : 400px;
	height : 300px;
}
table {
	width: 500px;
}
h5{
    text-align: right;
}
h6{
    width :300px;
    text-align: center;
}

